.project

.DS_Store  
.DS_Store?  
._*  
.Spotlight-V100  
.Trashes  
Icon?  
ehthumbs.db  
Thumbs.db

app/error/.DS_Store

app/func/.DS_Store

app/lib/.DS_Store

app/log/.DS_Store

app/model/.DS_Store

app/static/.DS_Store

app/static/data/.DS_Store

app/static/js/.DS_Store

app/view/.DS_Store

app/view/default/.DS_Store

core/.DS_Store

doc/.DS_Store
